template.logic_app.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_aci_name": {
            "defaultValue": "aci",
            "type": "String"
        },
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "workflows_{{ env['LOGIC_APP'] }}_name": {
            "defaultValue": "{{ env['LOGIC_APP'] }}",
            "type": "String"
        },
        "workflows_{{ env['RESOURCE_GROUP'] }}_path": {
            "defaultValue": "/subscriptions/@{encodeURIComponent('{{ env['SUBSCRIPTION_ID'] }}')}/resourceGroups/@{encodeURIComponent('{{ env['RESOURCE_GROUP'] }}')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent('{{ env['ACI_CONTAINER_GROUP'] }}')}",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "Generalized from resource: '/subscriptions/{{ env['SUBSCRIPTION_ID'] }}/resourceGroups/{{ env['RESOURCE_GROUP'] }}/providers/Microsoft.Logic/workflows/{{ env['LOGIC_APP'] }}'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_{{ env['LOGIC_APP'] }}_name')]",
            "apiVersion": "2017-07-01",
            "location": "{{ env['REGION'] }}",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_blob_is_added_or_modified_(properties_only)": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()",
                            "metadata": {
                                "JTJmYmF0Y2hhaQ==": "/{{ env['AZURE_CONTAINER_NAME'] }}",
                                "JTJmYmF0Y2hhaSUyZmRhdGEtbG9naWMtYXBwLTMlMmY=": "/{{ env['AZURE_CONTAINER_NAME'] }}/data-logic-app-3/"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/batch/onupdatedfile",
                                "queries": {
                                    "folderId": "JTJmYmF0Y2hhaQ==",
                                    "maxFileCount": 100
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Create_container_group": {
                                    "runAfter": {
                                        "Get_blob_content": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "location": "eastus",
                                            "properties": {
                                                "containers": [
                                                    {
                                                        "name": "@{concat('job-', toLower(replace(replace(utcNow(), ':', '-'), '.', '-')))}",
                                                        "properties": {
                                                            "environmentVariables": [
                                                                {
                                                                    "name": "AAD_CLIENT_ID",
                                                                    "value": "{{ env['AAD_CLIENT_ID'] }}"
                                                                },
                                                                {
                                                                    "name": "AAD_SECRET",
                                                                    "value": "{{ env['AAD_SECRET'] }}"
                                                                },
                                                                {
                                                                    "name": "AAD_TENANT",
                                                                    "value": "{{ env['AAD_TENANT'] }}"
                                                                },
                                                                {
                                                                    "name": "STORAGE_ACCOUNT_NAME",
                                                                    "value": "{{ env['STORAGE_ACCOUNT_NAME'] }}"
                                                                },
                                                                {
                                                                    "name": "STORAGE_ACCOUNT_KEY",
                                                                    "value": "{{ env['STORAGE_ACCOUNT_KEY'] }}"
                                                                },
                                                                {
                                                                    "name": "ADMIN_USER_NAME",
                                                                    "value": "{{ env['ADMIN_USER_NAME'] }}"
                                                                },
                                                                {
                                                                    "name": "ADMIN_USER_PASSWORD",
                                                                    "value": "{{ env['ADMIN_USER_PASSWORD'] }}"
                                                                },
                                                                {
                                                                    "name": "SUBSCRIPTION_ID",
                                                                    "value": "{{ env['SUBSCRIPTION_ID'] }}"
                                                                },
                                                                {
                                                                    "name": "RESOURCE_GROUP",
                                                                    "value": "{{ env['RESOURCE_GROUP'] }}"
                                                                },
                                                                {
                                                                    "name": "REGION",
                                                                    "value": "{{ env['REGION'] }}"
                                                                },
                                                                {
                                                                    "name": "AZURE_CONTAINER_NAME",
                                                                    "value": "{{ env['AZURE_CONTAINER_NAME'] }}"
                                                                },
                                                                {
                                                                    "name": "FS_SCRIPT",
                                                                    "value": "{{ env['FS_SCRIPT'] }}"
                                                                },
                                                                {
                                                                    "name": "FS_STYLE_IMG",
                                                                    "value": "{{ env['FS_STYLE_IMAGE'] }}"
                                                                },
                                                                {
                                                                    "name": "FS_CONTENT_DIR",
                                                                    "value": "@{body('Get_blob_content')}"
                                                                },
                                                                {
                                                                    "name": "FS_OUTPUT_DIR_PREFIX",
                                                                    "value": "{{ env['FS_OUTPUT_DIR_PREFIX'] }}"
                                                                },
                                                                {
                                                                    "name": "FS_LOGGER_DIR_PREFIX",
                                                                    "value": "{{ env['FS_LOGGER_DIR_PREFIX'] }}"
                                                                },
                                                                {
                                                                    "name": "WORKSPACE",
                                                                    "value": "{{ env['WORKSPACE'] }}"
                                                                },
                                                                {
                                                                    "name": "EXPERIMENT_PREFIX",
                                                                    "value": "{{ env['EXPERIMENT_PREFIX'] }}"
                                                                },
                                                                {
                                                                    "name": "JOB_NAME_PREFIX",
                                                                    "value": "{{ env['JOB_NAME_PREFIX'] }}"
                                                                },
                                                                {
                                                                    "name": "JOB_NODE_COUNT",
                                                                    "value": "{{ env['JOB_NODE_COUNT'] }}"
                                                                },
                                                                {
                                                                    "name": "JOB_BATCH_SIZE",
                                                                    "value": "{{ env['JOB_BATCH_SIZE'] }}"
                                                                },
                                                                {
                                                                    "name": "CLUSTER_NAME",
                                                                    "value": "{{ env['CLUSTER_NAME'] }}"
                                                                },
                                                                {
                                                                    "name": "CLUSTER_CONTAINER_MNT_PATH",
                                                                    "value": "{{ env['CLUSTER_CONTAINER_MNT_PATH'] }}"
                                                                },
																																{
																																		"name": "STYLE_WEIGHT",
																																		"value": "{{ env['STYLE_WEIGHT'] }}"
																																},
																																{
																																		"name": "CONTENT_WEIGHT",
																																		"value": "{{ env['CONTENT_WEIGHT'] }}"
																																},
																																{
																																		"name": "NUM_STEPS",
																																		"value": "{{ env['NUM_STEPS'] }}"
																																},
																																{
																																		"name": "IMAGE_SIZE",
																																		"value": "{{ env['IMAGE_SIZE'] }}"
																																}
                                                            ],
                                                            "image": "{{ env['DOCKER_USER'] }}/{{ env['DOCKER_IMAGE'] }}",
                                                            "resources": {
                                                                "requests": {
                                                                    "cpu": 2,
                                                                    "memoryInGB": 3.5
                                                                }
                                                            }
                                                        }
                                                    }
                                                ],
                                                "osType": "Linux",
                                                "restartPolicy": "OnFailure"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['aci']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "[parameters('workflows_{{ env['RESOURCE_GROUP'] }}_path')]",
                                        "queries": {
                                            "x-ms-api-version": "2017-10-01-preview"
                                        }
                                    }
                                },
                                "Get_blob_content": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/content",
                                        "queries": {
                                            "inferContentType": true
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "expression": {
                                "and": [
                                    {
                                        "startsWith": [
                                            "@triggerBody()?['Name']",
                                            "trigger"
                                        ]
                                    },
                                    {
                                        "endsWith": [
                                            "@triggerBody()?['Name']",
                                            ".txt"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "aci": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_aci_name'))]",
                                "connectionName": "aci",
                                "id": "/subscriptions/{{ env['SUBSCRIPTION_ID'] }}/providers/Microsoft.Web/locations/{{ env['REGION'] }}/managedApis/aci"
                            },
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "azureblob",
                                "id": "/subscriptions/{{ env['SUBSCRIPTION_ID'] }}/providers/Microsoft.Web/locations/{{ env['REGION'] }}/managedApis/azureblob"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_aci_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/{{ env['SUBSCRIPTION_ID'] }}/resourceGroups/{{ env['RESOURCE_GROUP'] }}/providers/Microsoft.Web/connections/aci'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_aci_name')]",
            "apiVersion": "2016-06-01",
            "location": "{{ env['REGION'] }}",
            "scale": null,
            "properties": {
                "displayName": "{{ env['ACI_DISPLAY_NAME'] }}",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/{{ env['SUBSCRIPTION_ID'] }}/providers/Microsoft.Web/locations/{{ env['REGION'] }}/managedApis/', parameters('connections_aci_name'))]"
                }
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/{{ env['SUBSCRIPTION_ID'] }}/resourceGroups/{{ env['RESOURCE_GROUP'] }}/providers/Microsoft.Web/connections/azureblob'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_azureblob_name')]",
            "apiVersion": "2016-06-01",
            "location": "{{ env['REGION'] }}",
            "scale": null,
            "properties": {
                "displayName": "DefaultEndpointsProtocol=https;AccountName={{ env['STORAGE_ACCOUNT_NAME'] }};AccountKey={{ env['STORAGE_ACCOUNT_KEY'] }};EndpointSuffix=core.windows.net",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/{{ env['SUBSCRIPTION_ID'] }}/providers/Microsoft.Web/locations/{{ env['REGION'] }}/managedApis/', parameters('connections_azureblob_name'))]"
                }
            },
            "dependsOn": []
        }
    ]
}

