azure/arm/trigger_arm.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_aci_name": {
            "defaultValue": "aci",
            "type": "String"
        },
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "workflows_js_logic_app_name": {
            "defaultValue": "js_logic_app",
            "type": "String"
        },
        "workflows_jsbatchai_path": {
            "defaultValue": "/subscriptions/@{encodeURIComponent('0ca618d2-22a8-413a-96d0-0f1b531129c3')}/resourceGroups/@{encodeURIComponent('jsbatchai')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent('js_aci_group')}",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "Generalized from resource: '/subscriptions/0ca618d2-22a8-413a-96d0-0f1b531129c3/resourceGroups/jsbatchai/providers/Microsoft.Logic/workflows/js_logic_app'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_js_logic_app_name')]",
            "apiVersion": "2017-07-01",
            "location": "eastus",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_blob_is_added_or_modified_(properties_only)": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()",
                            "metadata": {
                                "JTJmYmF0Y2hhaQ==": "/batchai",
                                "JTJmYmF0Y2hhaSUyZmRhdGEtbG9naWMtYXBwLTMlMmY=": "/batchai/data-logic-app-3/"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/batch/onupdatedfile",
                                "queries": {
                                    "folderId": "JTJmYmF0Y2hhaQ==",
                                    "maxFileCount": 100
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Create_container_group": {
                                    "runAfter": {
                                        "Get_blob_content": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "location": "eastus",
                                            "properties": {
                                                "containers": [
                                                    {
                                                        "name": "@{concat('job-', toLower(replace(replace(utcNow(), ':', '-'), '.', '-')))}",
                                                        "properties": {
                                                            "environmentVariables": [
                                                                {
                                                                    "name": "AAD_CLIENT_ID",
                                                                    "value": "fd5d0801-ba2e-47c0-8781-245c2ba7117d"
                                                                },
                                                                {
                                                                    "name": "AAD_SECRET",
                                                                    "value": "pass123!"
                                                                },
                                                                {
                                                                    "name": "AAD_TENANT",
                                                                    "value": "72f988bf-86f1-41af-91ab-2d7cd011db47"
                                                                },
                                                                {
                                                                    "name": "STORAGE_ACCOUNT_NAME",
                                                                    "value": "jsblobplayground"
                                                                },
                                                                {
                                                                    "name": "STORAGE_ACCOUNT_KEY",
                                                                    "value": "89WN/ZGBW0Aq0NHq8uH4W1QLRDMHvOECYiHrzeQdmHv+afX5OewQDfAmQsCcvdjqS4oMOwEJPqcI/OSnxy1kYg=="
                                                                },
                                                                {
                                                                    "name": "ADMIN_USER_NAME",
                                                                    "value": "jiata"
                                                                },
                                                                {
                                                                    "name": "ADMIN_USER_PASSWORD",
                                                                    "value": "pass123!"
                                                                },
                                                                {
                                                                    "name": "SUBSCRIPTION_ID",
                                                                    "value": "0ca618d2-22a8-413a-96d0-0f1b531129c3"
                                                                },
                                                                {
                                                                    "name": "RESOURCE_GROUP",
                                                                    "value": "jsbatchai"
                                                                },
                                                                {
                                                                    "name": "REGION",
                                                                    "value": "eastus"
                                                                },
                                                                {
                                                                    "name": "AZURE_CONTAINER_NAME",
                                                                    "value": "batchai"
                                                                },
                                                                {
                                                                    "name": "FS_INPUT_DIR",
                                                                    "value": "input"
                                                                },
                                                                {
                                                                    "name": "FS_SCRIPT_NAME",
                                                                    "value": "script.py"
                                                                },
                                                                {
                                                                    "name": "FS_STYLE_IMG_NAME",
                                                                    "value": "style.jpg"
                                                                },
                                                                {
                                                                    "name": "FS_CONTENT_DIR",
                                                                    "value": "@{body('Get_blob_content')}"
                                                                },
                                                                {
                                                                    "name": "FS_OUTPUT_DIR_PREFIX",
                                                                    "value": "@{body('Get_blob_content')}"
                                                                },
                                                                {
                                                                    "name": "WORKSPACE",
                                                                    "value": "js_workspace"
                                                                },
                                                                {
                                                                    "name": "EXPERIMENT_PREFIX",
                                                                    "value": "exp"
                                                                },
                                                                {
                                                                    "name": "JOB_NAME_PREFIX",
                                                                    "value": "job"
                                                                },
                                                                {
                                                                    "name": "JOB_NODE_COUNT",
                                                                    "value": "1"
                                                                },
                                                                {
                                                                    "name": "JOB_BATCH_SIZE",
                                                                    "value": "50"
                                                                },
                                                                {
                                                                    "name": "CLUSTER_NAME",
                                                                    "value": "nc6s_v3_1"
                                                                },
                                                                {
                                                                    "name": "CLUSTER_CONTAINER_MNT_PATH",
                                                                    "value": "bfs"
                                                                }
                                                            ],
                                                            "image": "jiata/bai_job",
                                                            "resources": {
                                                                "requests": {
                                                                    "cpu": 2,
                                                                    "memoryInGB": 3.5
                                                                }
                                                            }
                                                        }
                                                    }
                                                ],
                                                "osType": "Linux",
                                                "restartPolicy": "OnFailure"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['aci']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "[parameters('workflows_jsbatchai_path')]",
                                        "queries": {
                                            "x-ms-api-version": "2017-10-01-preview"
                                        }
                                    }
                                },
                                "Get_blob_content": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/content",
                                        "queries": {
                                            "inferContentType": true
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "expression": {
                                "and": [
                                    {
                                        "startsWith": [
                                            "@triggerBody()?['Name']",
                                            "trigger"
                                        ]
                                    },
                                    {
                                        "endsWith": [
                                            "@triggerBody()?['Name']",
                                            ".txt"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "aci": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_aci_name'))]",
                                "connectionName": "aci",
                                "id": "/subscriptions/0ca618d2-22a8-413a-96d0-0f1b531129c3/providers/Microsoft.Web/locations/eastus/managedApis/aci"
                            },
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "azureblob",
                                "id": "/subscriptions/0ca618d2-22a8-413a-96d0-0f1b531129c3/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_aci_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/0ca618d2-22a8-413a-96d0-0f1b531129c3/resourceGroups/jsbatchai/providers/Microsoft.Web/connections/aci'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_aci_name')]",
            "apiVersion": "2016-06-01",
            "location": "eastus",
            "scale": null,
            "properties": {
                "displayName": "jiata@microsoft.com",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/0ca618d2-22a8-413a-96d0-0f1b531129c3/providers/Microsoft.Web/locations/eastus/managedApis/', parameters('connections_aci_name'))]"
                }
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/0ca618d2-22a8-413a-96d0-0f1b531129c3/resourceGroups/jsbatchai/providers/Microsoft.Web/connections/azureblob'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_azureblob_name')]",
            "apiVersion": "2016-06-01",
            "location": "eastus",
            "scale": null,
            "properties": {
                "displayName": "DefaultEndpointsProtocol=https;AccountName=jsblobplayground;AccountKey=89WN/ZGBW0Aq0NHq8uH4W1QLRDMHvOECYiHrzeQdmHv+afX5OewQDfAmQsCcvdjqS4oMOwEJPqcI/OSnxy1kYg==;EndpointSuffix=core.windows.net",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/0ca618d2-22a8-413a-96d0-0f1b531129c3/providers/Microsoft.Web/locations/eastus/managedApis/', parameters('connections_azureblob_name'))]"
                }
            },
            "dependsOn": []
        }
    ]
}
